{% extends 'base.html' %}

{% block css_style %}
<link rel="stylesheet" href="/static/css/style/mine.css">
{% endblock %}

{% block content%}
<div class="new-task layui-anim layui-anim-upbit">
    <div class="login">
        <h3>创建分类</h3>
        <p style="margin: 10px 200px;">ORG-ID: {{ current_user.org_id }}</p>
        <fieldset class="layui-elem-field layui-field-title send-task-tips">
            <legend class="title-two">格式 - Tips</legend>
                <div class="layui-field-box" style="margin-left: 10px;line-height: 25px;">
                    <p>1. 请注意, 创建分类的作用是将您发布的任务分类, 同时也将会以此生成组织内成员的上交情况统计表格.</p>
                    <p>2. 您可以一次创建一个, 也可以批量创建, 只需要使用“ , ” 隔开.</p>
                    <p>3. 在创建后, 即可返回到[New_task]界面发布任务, 即可选择相应分类.</p>
                    <p>4. 上交情况统计表格将会动态渲染至[Check]界面, 创建后请先前往确认.</p>
                </div>
        </fieldset>
        <div class="form-body"></div>
        <form class="layui-form task-form" method="POST">
            <div class="layui-form-item">
            <label class="layui-form-label layui-bg-black">新分类</label>
            <div class="layui-input-block">
                {{ form.csrf_token }}
                <input type="text" name="new_category" required  lay-verify="required" placeholder="输入新分类" autocomplete="off" class="layui-input" style="width: 390px;">
            </div>
            </div>
            <div class="layui-form-item">
            <div class="layui-input-block">
                {{ form.category_submit(class="layui-btn layui-bg-black")}}
            </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script>
    //Demo
    layui.use('form', function(){
      var form = layui.form;
      
      //监听提交
      form.on('submit(formDemo)', function(data){
        layer.msg(JSON.stringify(data.field));
        return false;
      });
    });
</script>
{% endblock %}
