{% extends 'base.html' %}

{% block css_style %}
<link rel="stylesheet" href="/static/css/style/check.css">
{% endblock %}

{% block content %}
<div>
  <fieldset class="layui-elem-field layui-field-title layui-anim layui-anim-fadein" style="border-color: rgb(156 156 156 / 66%);margin: 50px auto 0px;">
    <legend>Tasks Bar - 审查</legend>
  </fieldset>
  <span class="layui-breadcrumb layui-anim layui-anim-fadein check-index">
    <a href="#check">审查</a>
    <a href="#info">公告</a>
    <a href="#note">笔记</a>
  </span>
  <div class="main layui-anim layui-anim-upbit">
    <a name="check">审查</a>
      <button onclick="window.open('/download/{{ now_category }}');" type="button" class="layui-btn layui-bg-black" style="float:right;margin: 60px 3px 0px;">下载当前分类</button>
      <div class="check-block">
        <div class="category" style="float:right;">
          <form>
            <label class="layui-btn layui-bg-black download-botton">分类</label>
            <select id="category" required>
              <option id="default-item" value="0">请选择</option>
              {% for k,v in category.items() %}
              <option id='category_item' value="{{ k }}">{{ v }}</option>
              {% endfor %}
            </select>
          </form>
        </div>
      <p style="float:right;font-size:17px;margin:17px;">当前分类：{{ now_category }}</p>
      <p style="margin-top: 5px;">ID: {{ current_user.id }}</p>
      <p>ORG-ID: {{ current_user.org_id }}</p>
      <div>
        <table lay-filter="check-table">
            <thead>
              <tr>
                <th lay-data="{field:'name', fixed:'left', width:90}">姓名</th>
                <th lay-data="{field:'id', width:110}">ID</th>
                <th lay-data="{field:'org_id', width:90}">ORG-ID</th>
                {% for header in table_header %}
                  <th lay-data="{field:'{{ header }}', width:100}" class="table-index">{{ header }}</th>
                {% endfor %}
              </tr>
            </thead>
            <tbody>
              {% for info in table_info %}
              <tr>
                {% for own_info in info[:2] %}
                <td>{{ own_info }}</td>
                {% endfor %}
                {% for own_status in info[2:] %}
                <td>{{ own_status }}</td>
                {% endfor %}
              </tr>
              {% endfor %}
            </tbody>
        </table>
      </div> 
      <br>
      <br>
      <br>
    </div>
    <a name="info">公告</a>
    <div class="info-block">
      <p style="margin-top: 5px;">当你所属组的管理员发送一个新的公告时,它将展示在这里</p>
      <br>
      <div class="layui-card">
        <div class="layui-card-header">
          <p>花茶花茶花</p>
        </div>
        <div class="layui-card-body">
          <p>Hi! We must add more functions to this program! Let's do that!</p>
        </div>
      </div>
      <div class="layui-card">
        <div class="layui-card-header">
          <p>上杉纱织</p>
        </div>
        <div class="layui-card-body">
          <p>We have to speed up development!</p>
        </div>
      </div>
      <br>
      <br>
    </div>
    <a name="note">笔记</a>
    <div class="note-block" style="margin-bottom: 200px;">
      <p style="margin: 5px auto 10px;">这里的内容将和与您使用了共同组织ID的用户共享，您可以在这里做笔记或分享想法</p>
      <blockquote class="layui-elem-quote">酸柠花茶: Do it! Just do it!</blockquote>
      <blockquote class="layui-elem-quote">琉柳: I'm going to make the back-end program.</blockquote>
      <blockquote class="layui-elem-quote">Flavor: 😃</blockquote>
      <form class="layui-form upload-form layui-anim-upbit" style="margin-top: 17px;" action="">
        <div class="layui-form-item layui-form-text">
          <label class="layui-form-label layui-bg-black" style="text-align: center;">Notes</label>
            <div class="layui-input-block">
              <textarea name="desc" placeholder="Taking notes, or talking to your colleagues." class="layui-textarea"></textarea>
            </div>
        </div>
        <button id="upload-submit" class="layui-btn layui-bg-black" lay-submit lay-filter="formDemo">Submit</button>
      </form>
    </div>
  </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
<script>
    document.getElementById("check-nav").setAttribute('class','layui-nav-item layui-this')
</script>
<script>
  layui.use('form', function(){
    var form = layui.form;
    form.on('submit(formDemo)', function(data){
      layer.msg(JSON.stringify(data.field));
      return false;
    });
  });
</script>
<script>
  $("#category").on('change',function (){
    obj = $("#category").find("option:selected")
    text = obj.text();
    window.location.replace('/check/'+text);
  });
</script>
<script>
  layui.use('table', function(){
    var table = layui.table;
    //转换静态表格

    table.init('check-table', {
    height: 500 //设置高度
    ,limit: 50 //注意：请务必确保 limit 参数（默认：10）是与你服务端限定的数据条数一致
    //支持所有基础参数
    }); 
  });
</script>
{% endblock %}
