{% extends 'base.html' %}

{% block css_style %}
<link rel="stylesheet" href="/static/css/style/mine.css">
{% endblock %}

{% block content%}
<div class="new-task layui-anim layui-anim-upbit">
    <div class="login">
        <h3>Send Task</h3>
        <p style="margin: 10px 200px;">ORG-ID: 01-19-01</p>
        <fieldset class="layui-elem-field layui-field-title send-task-tips">
            <legend class="title-two">Format - Tips</legend>
                <div class="layui-field-box" style="margin-left: 10px;line-height: 25px;">
                    <p>1. Your tasks will be automatically posted to all accounts that use your organization ID.</p>
                    <p>2. Pay attention, you fill the word block [Task date], this date will be used in the header of the form so this field is unique and required.</p>
                    <p>3. If you fill in the notes, the notes will be sent to the [Info] module of the [Check] page.</p>
                    <p>4. After you post the task, your organization members can select the task to upload on the [Upload] page.</p>
                    <p>5. At present, it is not certain when the file corresponding to your task will be deleted, please download it as soon as possible in the file download interface.</p>
                </div>
        </fieldset>
        <div class="form-body"></div>
        <form class="layui-form task-form" method="POST">
            <div class="layui-form-item">
            <label class="layui-form-label layui-bg-black">Task title</label>
            <div class="layui-input-block">
                {{ form.csrf_token }}
                <input type="text" name="task_title" required  lay-verify="required" placeholder="Enter a title of the new task." autocomplete="off" class="layui-input" style="width: 390px;">
            </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label layui-bg-black">Task date</label>
                <div class="layui-input-block">
                    <input type="date" name="task_date" required lay-verify="required" placeholder="Enter a date of the new task." autocomplete="off" class="layui-input" style="width: 390px;">
                </div>
            </div>
            <div class="layui-form-item layui-form-text">
                <label class="layui-form-label layui-bg-black">Notes</label>
                  <div class="layui-input-block">
                    <textarea name="task_notes" required placeholder="Remarks." class="layui-textarea"></textarea>
                  </div>
            </div>
            <div class="layui-form-item">
            <div class="layui-input-block">
                {{ form.task_submit(class="layui-btn layui-bg-black")}}
            </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script>
    //Demo
    layui.use('form', function(){
      var form = layui.form;
      
      //监听提交
      form.on('submit(formDemo)', function(data){
        layer.msg(JSON.stringify(data.field));
        return false;
      });
    });
</script>
{% endblock %}
