{% extends 'base.html' %}

{% block css_style %}
<link rel="stylesheet" href="/static/css/style/upload.css">
{% endblock %}

{% block content %}
<div class="bg layui-anim layui-anim-upbit"></div>
  <fieldset class="layui-elem-field layui-field-title layui-anim layui-anim-fadein" style="border-color: rgb(156 156 156 / 66%);margin: 50px auto 0px;">
    <legend class="title-one">Tasks Bar - 上传</legend>
  </fieldset>

<div class="main">
          <!-- 上传提示 -->
          <fieldset class="layui-elem-field layui-field-title layui-anim layui-anim-upbit upload-tips">
            <legend class="title-two">格式 - Tips</legend>
                <div class="layui-field-box" style="margin-left: 10px;line-height: 25px;">
                    <p>1. 请确保您上传的文件是以下格式 [.zip / .rar / .7z / .jpg / .jpeg / .png]</p>
                    <p>2. 请确保文件大小小于30M.</p>
                    <p>3. 文件名无硬性要求.</p>
                    <p>4. 选择要上传的任务时请提前和管理员确认.</p>
                    <p>5. [Message] 栏中简单填入一些信息即可.</p>
                    <p>6. 您可以对某一个任务重复上传文件, 如果您需要的话.</p>
                </div>
        </fieldset>
          <!-- 上传元素 -->
  <div class="layui-anim layui-anim-upbit form-contain">
    <form class="layui-form upload-form layui-anim-upbit" method="POST" enctype="multipart/form-data">
      {{ form.csrf_token }}
      <div class="upload-block" id="upload-block">
        <i class="layui-icon layui-icon-file" style="font-size: 35px; color:#393D49"></i>
        <p id="text-upload">Clich Here To Upload Your Task File.</p>
      </div>
      <input id="upload_file" class="inp_file" name="upload_file" required="" type="file" accept=".zip,.rar,.7z,.jpg,.jpeg,.png" style="opacity: 0; position: absolute;">
      <div class="layui-form-item">
        <label class="layui-form-label layui-bg-black" style="text-align: center;">Select task</label>
        <div class="layui-input-block">
          {{ form.select_task }}
        </div>
      </div>
      <div class="layui-form-item">
        <label class="layui-form-label layui-bg-black" style="text-align: center;">Messages</label>
        <div class="layui-input-block">
          <input id="msg_task" name="msg_task" required="" type="text" required  lay-verify="required" placeholder="Here you can write a note about the file" autocomplete="off" class="layui-input">
        </div>
      </div>
      <div class="layui-form-item">
        <div class="layui-input-block" style="margin-left: 165px;">
          {{ form.file_submit(class="layui-btn layui-bg-black")}}
          <button type="reset" class="layui-btn layui-btn-primary">Reset</button>
        </div>
      </div>
    </form>
  </div>
  {% for message in get_flashed_messages() %}
    <div class="flash layui-elem-quote" style="margin: 20px 260px;">{{ message }}</div>
  {% endfor %}
</div>
{% endblock %}


{% block scripts %}
<script>
  document.getElementById("upload-nav").setAttribute('class','layui-nav-item layui-this')
</script>
<script>
  //Demo
  layui.use('form', function(){
    var form = layui.form;
    
    //监听提交
    form.on('submit(formDemo)', function(data){
      layer.msg(JSON.stringify(data.field));
      return false;
    });
  });
</script>
<script>
$('#upload-block').eq(0).click(function () {
  $('#upload_file').click()
})

$('.inp_file').change(function(e){
  console.log(e)
  var fileMsg = e.currentTarget.files;
  var fileName = fileMsg[0].name;
  console.log(fileName);
  $('#text-upload').text(fileName)
})
</script>
{% endblock %}
