/* upload_page */
.main {
    margin-left: 2%;
}

.layui-elem-field legend {
    padding: 0 10px;
    font-size: 40px;
    font-weight: 300;
}

.title-two {
    font-size: 20px!important;
    font-weight: 300!important;
}

.bg {
    position: absolute;
    height: 100%;
    width: 60%;
    background: url(/static/images/completed_task_upload.png) no-repeat;
    background-size: 100% auto;
    margin: 5% 0% 0% 50%;
    z-index: -1;
}

.upload-block {
    margin: -10px auto 17px;
    padding: 7px;
    text-align: center;
    border-style: dashed;
    border-width: 2px;
    border-color: #393D49;
}

.upload-tips {
    position: relative;
    text-align: left;
    font-size: 17px;
    width: 45%;
}

.form-contain {
    width: 45%;
    text-align: left;
}

.layui-btn {
    margin-top: 13px;
}

